.ctawrapper{
    padding:60px 15px;
    margin-bottom: var(--space-3xl);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 576px) {
    .ctawrapper{
        display: none;
    }
}