.shopButton {
  align-items: center;
  border: 2px solid var(--primary);
  background: transparent ;
  border-radius: var(--radius-30);
  color: var(--theme-blue-dark);
  display: flex;
  font-size: var(--text-md);
  font-weight: var(--semibold);
  height: var(--size-input);
  justify-content: center;
  line-height: var(--solid);
  margin: var(--space-2xl) auto ;
  padding: var(--space-xl) var(--space-3xl);
  width: max-content;
  transition: var(--transition);
}

.shopButton:hover {
  background: var(--primary);
  color: var(--white);
  
}
