.bannerwrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mainTitle{
    font-size:45px;
    text-align: center;
    font-weight: 700;
    color: var(--theme-blue-dark);
    letter-spacing: normal;
    line-height: 1.1;
    margin: var(--space-3xl);
}

.mobileShow{
    display: none;
}

  
  @media (min-width: 992px) and (max-width:1200px) {
   .mainTitle{
       font-size: 36px;
   }
  }

  @media (min-width: 768px) and (max-width:992px) {
    .mainTitle{
        font-size: 26px;
    }
  }
  
  @media (min-width: 576px) and (max-width:768px) {
    .mainTitle{
        font-size: 18px;
    }
   }

   @media (max-width:576px){

       .bannerwrapper{
        grid-template-columns: 1fr;
        display: none;
       }
       .mobileShow{
     
        display: block;
       }
    
   }
